* {
  /* CSS HEX */
  --red-orange-color-wheel: #f15025ff;
  --white: #ffffffff;
  --platinum: #e6e8e6ff;
  --light-gray: #ced0ceff;
  --eerie-black: #191919ff;
  --color-mode: "dark";
}
.App {
  height: 100vh;
  display: flex;
}
@media (prefers-color-scheme: dark){
  
  .App {
    background-color: var(--eerie-black);
    color: var(--platinum);
  }
}

@media (prefers-color-scheme: light){
  .App {
    background-color: var(--platinum);
    color: var(--eerie-black);
  }
}